<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>

<div class='content-box'>
  <p class='content'> This site was designed as a fun side project for me to familiarize myself with Ruby on Rails while also making sure I keep my friends and family up to date on my travels in New Zealand. This website is free to use and all its content is publicly available to anyone on the web.  </p>
</div>
