<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>

<div class='content-box'>
  <p class='content'> This site was designed as a fun side project for me to familiarize myself with RoR while also making sure I keep my friends and family up to date on my travels in New Zealand. If for some reason you ever happen to find this, please feel free to use this as your own travel blogging tool.  Enjoy! </p>
</div>
