<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>

<div id='about-content-box' class='content-box'>
  <p class='content'> This site was designed as a fun side project for me to familiarize myself with rails while also making sure I keep my friends and family up to date on my travels in New Zealand. </p>
</div>
