<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>

<div class='content-box'>
  <p class='content'> Thank you for signing up for Journey! Please check your email to confirm your account. </p>
</div>

