<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>

<div class='content-box'>
  <p class='content'> Problems, questions, or concerns? Contact me anytime at joshua.p.fishbein@gmail.com. </p>
</div>
