<script>
  $(document).ready(function() {
    $('body').addClass('map-bg')
  });
</script>

<div class='content-box'>
  <p class='content'>
    This website is free to use and all its content is publicly available on the web. <br/><br/>
    -> In order to view a blog or any particular content, simply navigate to the appropriate url. <br/><br/>
    -> If you are interested in creating your own blog, you must sign up and create an account.
  </p>
</div>
