@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #969696;
$offWhite: #e9ecec;
$offBlack: #0e0e0e;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* Universal */

html {
  overflow-y: scroll;
  background: $offBlack;
  height: 100%;
}

body {
  padding-top: 60px;
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}




/* Header */

.navbar-inner{
  background: #3f3f3f;
  background-image: linear-gradient(to bottom, #3f3f3f 0%,#595959 18%,#2d2d2d 50%,#2d2d2d 50%,#282828 55%,$offBlack 100%);
  border: none;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $offWhite;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.header_links {
  color: $offWhite !important;
  text-transform: uppercase;
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: none !important;
  &:hover {
    color: $grayMediumLight !important;
    text-decoration: none;
  }
}





/* Sidebar */







/* footer */

footer {
  position: absolute;
  width: 920px;
  bottom: 0px;
  padding-top: 5px;
  border-top: 1px solid $offWhite;
  a {
    color: $offWhite;
    &:hover {
      color: $grayMediumLight;
      text-decoration: none;
    }
  }
  img {
    -webkit-filter: opacity(65%);
  }
  p {
    color: $offWhite;
    display: inline;
  }
  small {
    float: left;
  }
  ul {
    display: inline;
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



/* containers */

.content-box {
  margin-top: 8%;
  background: $offWhite;
  border-color: $offBlack;
  border: 3px;
  border-style: solid;
  border-radius: 40px;
  opacity: 0.94;
}

.debug_dump {
  clear: both;
  float: left;
  /*width: 70%;*/
  width: 920px;
  margin-top: 45px;
  position: absolute;
  bottom: -100px;
  @include box_sizing;
}




/* content */

.content {
  color: $offBlack;
  margin-top: 8px;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
}



/* Background Images */

.map-bg {
  background: url('home-bg.png');
  /*background-size: 95%;*/
  /*background-position: 40px 0px;*/
  background-size: 78%;
  background-position: 130px 0px;
  background-repeat: no-repeat;
}

/* Sidebar */

#sidebar {
  right: 0px;
  width: 250px;
  background: #1E1E1E;
  position: fixed;
  height: 75%;
  top: 60px;
  border-left: 4px;
  border-top: 4px;
  border-bottom: 4px;
  border-style: solid;
  border-color: $offBlack;
}

.sidebar-nav {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}


/* miscenalleous */

.center {
  text-align: center;
}

#sign-up-link-div {
  position: absolute;
  bottom: 90px;
  width: 920px;
}

#sign-up-link {
/*  border: solid;
  border-width: 5px;
  border-color: #1E1E1E;
  border-radius: 12px;
  padding: 10px;*/
  font-size: 28px;
  &:hover {
    text-decoration: none;
    color: #0088cc;
  }
}
