<div id='registration-alert'>
  <p>Account creation is only necessary for publishing your own content. All other users' content can be viewed without creating an account. Would you like to continue creating an account?</p>
  <div id='registration-alert-btns'>
  <p id='registration-alert-cancel'>Cancel</p>
  <%= link_to "OK", new_user_registration_path, id: 'registration-alert-ok' %>
  </div>
</div>