<footer class="footer">
  <nav>
    <p><%= image_tag "copyleft.png", alt: "copyleft", size: "14x14" %>
      Josh Fishbein
    </p>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
